/*css comments*/
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1 {
    text-align: center;
}

main > div {
    
}

p {
    text-align: center;
    width: 70%;
    margin: 50px auto

}

div .row {
    display: flex;
}