/*css comments*/
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1 {
    text-align: center;
}

main>div {}

p {
    text-align: center;
    width: 70%;
    margin: 50px auto
}

.container {
    max-width: 70%;
    margin: 0 auto;
}

/*
mi sto aiutando con il metodo che ci ha fatto vedere
Gaetano per la griglia utilizzando gap e non margin
poi magari margin è piu semplice */

div .row {
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    gap: 30px
}

div .col {
    width: 30%;
    border: 2px solid black;
    display: flex;
    background-color: rgb(4, 4, 51);

}
/*ho un problema qui vorrei che la lista prendesse piu spazio nel quadrato
ho provato a mettere ul come flex container e fare space around ma non funziona
also come mai il mio link non è blu?*/
ul {
    list-style: none;
    padding-left: 10px;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
}

img {
    max-width: 25%;
}

li {
    color: white;
}